<% content_for :title do %>
  <title>Edit</title>
<% end %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag "dashboard" %>
  <% end %>

		<section class="hbox stretch">
			<aside class="bg-dark aside-sm" id="nav">
				<section class="vbox">
					<header class="dker nav-bar nav-bar-fixed-top">
						<a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
							<i class="fa fa-bars"></i>
						</a>
						<a href="#" class="dker nav-brand" data-toggle="fullscreen">trolleyapp</a>
					</header>
					<section class="w-f">
						<div class="bg-success nav-user hidden-xs pos-rlt">
						 	<div class="nav-avatar pos-rlt"> 
						 		<a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown"> 
						 			<%= image_tag("avatar.png", :class => "") %> <span><%= current_user.company_name %></span> 
						 		</a> 
						 	</div> 
						 </div>
						<% if current_user.role_id==1 %>
						<nav class="nav-primary hidden-xs">
							<ul class="nav">
								<li>
									<%= link_to new_loading_path do%>  
										<i class="fa fa-plus"></i>
										<span>New Loading</span>
									<% end %>
								</li>	
								<li  class="active">
									<%= link_to loadings_path do%>  
										<i class="fa fa-eye"></i>
										<span>All Loading</span>
									<% end %>
								</li>
								<li>
									<%= link_to edit_user_registration_path do%>  
										<i class="fa fa-user"></i>
										<span>Profile</span>
									<% end %>
								</li>
								<li>
									<%= link_to destroy_user_session_path, :method=> :delete do%>  
										<i class="fa fa-sign-out"></i>
										<span>Log Out</span>
									<% end %>
								</li>					
							</ul>
						</nav>
						<% end %>
						<% if current_user.role_id==2 %>
						<nav class="nav-primary hidden-xs">
							<ul class="nav">
								<li>
									<%= link_to trucks_path do%>  
										<i class="fa fa-plus"></i>
										<span>All Trucks</span>
									<% end %>
								</li>
								<li class="active">
									<%= link_to new_truck_path do%>  
										<i class="fa fa-plus"></i>
										<span>Add New Truck</span>
									<% end %>
								</li>	
								<li>
									<%= link_to loadings_path do%>  
										<i class="fa fa-eye"></i>
										<span>All Loading</span>
									<% end %>
								</li>
								<li>
									<%= link_to edit_user_registration_path do%>  
										<i class="fa fa-user"></i>
										<span>Profile</span>
									<% end %>
								</li>
								<li>
									<%= link_to destroy_user_session_path, :method=> :delete do%>  
										<i class="fa fa-sign-out"></i>
										<span>Log Out</span>
									<% end %>
								</li>					
							</ul>
						</nav>
						<% end %>
					</section>
				</section>
			</aside>
		<section id="content">
			<section class="vbox">
				<header class="header bg-white b-b">
					<p>Edit your truck details</p>
				</header>
				<section class="scrollable wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="container">
								<div class="row">
								<%= render 'form' %>
							</div>
							</div>		
						</div>
					</div>
				</section>
			</section>

		</section>
		</section>







