<div class="col-sm-12">
	<%= simple_form_for @loading do |f| %>
		<%= f.input :from %>
		<%= f.input :to %>
		<%= f.input :weight %>
		<%= f.input :goods_type %>
		<%= f.input :date_of_loading %>
		<%= f.input :number_of_trucks %>
		<%= f.button :submit %>
	<% end %>
</div>