
<% content_for :title do %>
  <title>Loading</title>
<% end %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag "dashboard" %>
  <% end %>

		<section class="hbox stretch">
			<aside class="bg-dark aside-sm" id="nav">
				<section class="vbox">
					<header class="dker nav-bar nav-bar-fixed-top">
						<a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
							<i class="fa fa-bars"></i>
						</a>
						<a href="#" class="dker nav-brand" data-toggle="fullscreen">trolleyapp</a>
					</header>
					<section class="w-f">
						<div class="bg-success nav-user hidden-xs pos-rlt">
						 	<div class="nav-avatar pos-rlt"> 
						 		<a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown"> 
						 			<%= image_tag("avatar.png", :class => "") %> <span><%= current_user.company_name %></span> 
						 		</a> 
						 	</div> 
						 </div>
						<% if current_user.role_id==1 %>
						<nav class="nav-primary hidden-xs">
							<ul class="nav">
								<li>
									<%= link_to new_loading_path do%>  
										<i class="fa fa-plus"></i>
										<span>New Loading</span>
									<% end %>
								</li>	
								<li  class="active">
									<%= link_to loadings_path do%>  
										<i class="fa fa-eye"></i>
										<span>All Loading</span>
									<% end %>
								</li>
								<li>
									<%= link_to edit_user_registration_path do%>  
										<i class="fa fa-user"></i>
										<span>Profile</span>
									<% end %>
								</li>
								<li>
									<%= link_to destroy_user_session_path, :method=> :delete do%>  
										<i class="fa fa-sign-out"></i>
										<span>Log Out</span>
									<% end %>
								</li>					
							</ul>
						</nav>
						<% end %>
						<% if current_user.role_id==2 %>
						<nav class="nav-primary hidden-xs">
							<ul class="nav">
								<li>
									<%= link_to trucks_path do%>  
										<i class="fa fa-plus"></i>
										<span>All Trucks</span>
									<% end %>
								</li>
								<li>
									<%= link_to new_truck_path do%>  
										<i class="fa fa-plus"></i>
										<span>Add New Truck</span>
									<% end %>
								</li>	
								<li class="active">
									<%= link_to loadings_path do%>  
										<i class="fa fa-eye"></i>
										<span>All Loading</span>
									<% end %>
								</li>
								<li>
									<%= link_to edit_user_registration_path do%>  
										<i class="fa fa-user"></i>
										<span>Profile</span>
									<% end %>
								</li>
								<li>
									<%= link_to destroy_user_session_path, :method=> :delete do%>  
										<i class="fa fa-sign-out"></i>
										<span>Log Out</span>
									<% end %>
								</li>					
							</ul>
						</nav>
						<% end %>
					</section>
				</section>
			</aside>
		<section id="content">
			<section class="vbox">
				<header class="header bg-white b-b">
					<p>Welcome to Trolleyapp</p>
				</header>
				<section class="scrollable wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<p><%= @loading.user.company_name %></p>
											<h1>From: <%= @loading.from %></h1>
											<h1>To: <%= @loading.to %></h1>
											<h1>Weight: <%= @loading.weight %></h1>
											<h1>Goods Type: <%= @loading.goods_type %></h1>
											<h1>Total Trucks Required: <%= @loading.number_of_trucks %></h1>
											<h1>Date of loading: <%= @loading.date_of_loading %></h1>
											<% if @loading.approved_trucks!=0 && @loading.approved_trucks.count!=@loading.number_of_trucks %>
												<h1>Remaining Trucks Required: <%= @loading.number_of_trucks-@loading.approved_trucks.count %></h1>
											<% else %>
												<h1></h1>
											<% end %>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="row">
										<% if @loading.approved_trucks.count==@loading.number_of_trucks %>
											 <p>This loading has recieved all the trucks</p>
											 <%= render @loading.approved_trucks %>
										<% else %>
											<h2>Approved trucks <%= @loading.approved_trucks.count %></h2>
											<% if current_user.role_id===1 %>
												<%= render @loading.approved_trucks %>
											<% else %>
												<%= render @loading.approved_trucks %>
												<%= render "approved_trucks/form" %>
											<% end %>
										<% end %>
									</div>
								</div>

								<% if current_user.role_id==1 %>
									<%= link_to "Edit",  edit_loading_path(@loading) %>
									<%= link_to "Delete",  loading_path(@loading), method: :delete, data: {confirm:  "Are you sure?",
								  text: "You will not be able to recover this data!",
								  type: "warning",
								  showCancelButton: true,
								  confirmButtonColor: "#DD6B55",
								  confirmButtonText: "Yes, delete it!",
								  cancelButtonText: "No, cancel plx!",
								  closeOnConfirm: false,
								  closeOnCancel: false
								} %>
								<% end %>
							</div>		
						</div>
					</div>
				</section>
			</section>

		</section>
		</section>







