<%= simple_form_for([@loading, @loading.approved_trucks.build]) do |f| %>
<%= f.collection_select :trucks_sent, current_user.trucks.all, :truck_number, :truck_number %>
<%= f.submit "Add" %>
<% end %>