
<% content_for :title do %>
  <title>Sign In</title>
<% end %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "welcome" %>
  <% end %>

	<div class="screen-bg full-page">
		<div class="center-section">
			<div class="content full-width">
				<a href="/"><p class="logo">trolleyapp</p></a>
				<div class="page">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Welcome Back</h1>
							<h4>Please log in below.</h4>
						</div>
					</div>
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<form action="#">
								<fieldset>
									<div class="form-group">
										<%= f.input :email, required: true, autofocus: true, class: "form-control" %>
									</div>
									<div class="form-group">
										<%= f.input :password, required: true, class: "form-control" %>
									</div>
									<div class="form-actions text-center">
									<%= f.button :submit, "Sign In", class: "btn btn-success btn-lg btn-block"%>
						          </div>
								</fieldset>
							</form>
						</div>
						<% end %>
					</div>
					<hr>

			     <div class="row">
			       <div class="col-md-6">
			        <p>Can't Remember? <a href="#"> Password</a></p>
			       </div>
			       <div class="col-md-6">
			        <p>Don't have an account? <a href="sign_up">Sign Up</a></p>
			       </div>
			     </div>
				</div>
			</div>
		</div>
	</div>