



a {
  cursor: pointer;
}

a,a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a.btn {
  line-height: 1.5;
}

h1 {
  line-height: 45px;
}

h4 {
  margin-top: 15px;
}

body h1 {
  color: #746a84;
}

body p{
  color: #9D93B0;
}

.btn{
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font: bold 1em/1.4 Lato, "Helvetica Neue", sans-serif;
  text-align: center;
  padding: .6em 1.2em;
  border: 0;
  border-radius: 3em;
  color: #fff;
  background-color: #1DABF2;
  box-shadow: rgba(29, 171, 242, 0.3) 0 3px 16px;
  -webkit-transition: background-color .2s ease-out, box-shadow .2s ease-out;
  transition: background-color .2s ease-out, box-shadow .2s ease-out;
}



@font-face {
    font-family: 'montserratblack';
    src: font-url('montserrat/montserrat-black-webfont.eot');
    src: font-url('montserrat/montserrat-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-black-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-black-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-black-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: font-url('montserrat/montserrat-bold-webfont.eot');
    src: font-url('montserrat/montserrat-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-bold-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextra_bold';
    src: font-url('montserrat/montserrat-extrabold-webfont.eot');
    src: font-url('montserrat/montserrat-extrabold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-extrabold-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-extrabold-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrathairline';
    src: font-url('montserrat/montserrat-hairline-webfont.eot');
    src: font-url('montserrat/montserrat-hairline-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-hairline-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-hairline-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-hairline-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: font-url('montserrat/montserrat-light-webfont.eot');
    src: font-url('montserrat/montserrat-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-light-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-light-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-light-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat';
    src: font-url('montserrat/montserrat-regular-webfont.eot');
    src: font-url('montserrat/montserrat-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-regular-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemi_bold';
    src: font-url('montserrat/montserrat-semibold-webfont.eot');
    src: font-url('montserrat/montserrat-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-semibold-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-semibold-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratultra_light';
    src: font-url('montserrat/montserrat-ultralight-webfont.eot');
    src: font-url('montserrat/montserrat-ultralight-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
         font-url('montserrat/montserrat-ultralight-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-ultralight-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}





/*==========================
Home
==========================*/

/*==========================
Navigation
==========================*/
.navbar-brand {
  margin-top: 11px;
  font-size: 28px;
  color: #fff !important;
}

.navbar-default .navbar-brand {
  color: #37a1e2 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  background: transparent;
  color: #6abaff !important;
}

.navbar-right li:nth-child(1) a, .navbar-right li a {
    color: #45D68B !important;
    padding: 15px 36px;
}
.navbar-right li:nth-child(2) a {
    background-color: #45D68B;
    box-shadow: rgba(69, 214, 139, 0.3) 0 3px 16px;
    font-weight: bold;
    color: #fff !important;
    padding: 10px 36px;
    margin-top: 5px;
}
.navbar-right li:nth-child(1) a:hover {
    color: #3ae18b !important;
}

.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}
.navbar-right li:nth-child(2) a:hover {
    background-color: #3ae18b;
    box-shadow: rgba(58, 225, 139, 0.4) 0 3px 20px;
    color: #fff !important;
}
.btn-success {
    background-color: #36ca75;
    border: 0;
    border-radius: 3px;
}
.navbar-nav {
    color: #6c6d6f !important;
    font-family: 'montserrat';
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    margin-right: 30px;
}

.navbar-nav li a {
  color: #fff;
}

.fa-2x{
  font-weight: 100;
  color: #535353;
}

@media only screen and (max-width: 1200px) {
  .navbar-nav {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin-right: 10px;
  }
  .navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .navbar-brand {
    color: #37a1e2 !important;
  }
  .navbar-nav li a {
    color: #535353;
  }
}



/*==========================
Intro
==========================*/

#home #intro {
  background: url('/assets/hero.jpg') no-repeat center;
  background-size: cover;
  width: 100% !important;
  padding-top: 106px;
  padding-bottom: 20px;
  min-height: 800px;
  overflow: hidden;
}

#home #intro h1 {
  font-family: 'montserratlight';
  font-size: 42px;
  color: #fff;
}

#home #intro p {
  font-family: 'montserratlight';
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
}

#home #intro .hero-img-container {
  position: relative;
  margin: 19rem auto 0;
  padding: 0 15px 0 15px;
}

#home #intro .pricing-btn {
  font-size: 1.6rem;
}

#home #intro .contact-text {
  font-size: 1.4rem;
}

#home #intro .hero-img-container .negative {
  display: none;
}

#home #intro .hero-img-container .positive {
  display: block;
}

@media only screen and (max-width: 481px) {
  #home #intro h1 {
    font-size: 25px;
  }
  #home #intro p {
    font-size: 16px;
    margin-top: 0;
  }
  
  #home #intro .hero-img-container {
    margin: 15rem auto 0;
  }

  #home #intro .hero-img-container .negative {
    display: block;
    border-radius: 4px;
  }
  #home #intro .hero-img-container .positive {
    display: none;
  }
}


/*==========================
Collabs
==========================*/
#collabs {
  margin-top: 10px;
  padding-bottom: 80px;
  background: #fff;
}

#collabs .customers {
  padding: 30px;
  position: relative;
}

#collabs .customers p {
  font-family: 'montserratlight',sans-serif;
  font-size: 1.4em;
  text-align: center;
  font-weight: 100;
  color: #86888c;
}

#collabs .customer-logos {
  opacity: .7;
}

#collabs .customer-logos img {
  max-width: 50px;
  margin: 0 auto;
  display: block;
}

.clearfix:after,.clearfix:before {
  .content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*==========================
Features
==========================*/

#features {
  overflow: hidden;
  background: #fff;
}

.border-top{
  border-top: 1px solid rgba(150,150,150,0.14);
}

.features-slide {
  overflow: hidden;
  width: 100%;
  height: 615px;
}

.border-bottom {
  border-bottom: 1px solid rgba(150,150,150,0.14);
}

.features-slide .content-wrapper {
  padding: 100px 0;
}

.center-align {
  width: 85%;
  max-width: 1280px;
  margin: auto;
  display: table;
  height: 100%;
}

.features-slide .center-align {
  display: table;
  margin: 0px auto;
  padding: 0 5%;
  width: 100%;
}

.image-block {
  width: 40%;
  text-align: center;
  height: 400px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.table {
  display: table;
}

.description-inner-block,.image-inner-block {
  display: table-cell;
  vertical-align: middle;
}

.description-block {
  width: 55%;
  height: 400px;
}

.description-inner-block,.image-inner-block {
  display: table-cell;
  vertical-align: middle;
}

.description-inner-block,.image-inner-block img {
  max-width: 420px;
}

.features-slide .description-heading {
  font-size: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 30px;
  font-family: 'montserrat';
}

.features-slide .booking{
  color: #8feea3;
}

.features-slide .breakdown{
  color: #6ab3fb;
}

.features-slide .charts{
  color: #f7958c;
}

.features-slide .subheading {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.1px;
  color: #58595b;
}

.features-slide .description-details {
  font-size: 17px;
  font-family: 'montserratlight';
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: #535353;
  margin-top: 11px;
}

@media (max-width: 961px) {
  .features-slide {
    height: auto;
  }
  .center-align {
    max-width: 100vw;
    width: 90%;
  }
  .image-block {
    height: 0;
  }
  .description-block {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .features-slide .content-wrapper {
    padding: 60px 0;
  }
  .image-block,.description-block {
    width: 100%;
    height: auto;
  }
  .image-block {
    text-align: center;
  }

  .image-block img {
    margin: 0;
    width: 80%;
  }
  .image-block,.description-block {
    width: 100%;
    height: auto;
  }
  .features-slide .description-heading {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
  }
  .features-margin-right,.features-margin-left {
    margin: 0;
  }
  .features-slide .subheading {
    font-size: 17px;
  }
  .features-slide .description-details {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
  }
  .feature-img {
    width: auto;
  }
  .description-inner-block,.image-inner-block img {
    margin:0 auto;
  }
}

@media (min-width: 568px) and (max-height: 500px) {
  .image-block img {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .feature-img {
    width: auto;
    margin-top: 0px;
  }
}
@media (max-width: 1200px) {
  .description-inner-block,.image-inner-block img {
    max-width: 300px;
  }
}

/*==========================
Pricing
==========================*/

#pricing {
  padding: 4.854rem 5%;
  text-align: center;
}

#pricing .inr-sign {
  color: #45D68B;
  width: 2em;
  height: 2em;
  margin: 0 auto 1.618rem;
  font-size: 2.6em;
  position: relative;
}

#pricing .inr-sign .inr-sign-outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: rgba(123, 255, 187, 0.15) 0 0 50px 15px, rgba(159, 255, 206, 0.1) 0 0 10px 5px;
}

#pricing .inr-sign-outline {
  border: 2px solid #45D68B;
}

#pricing .inr-sign i {
  margin: 0 auto;
}

#pricing h1 {
  font-family: 'montserratultra_light';
  font-size: 4rem;
}

#pricing .pricing-text {
  font-family: 'montserratultra_light';
  font-size: 2rem;
}

#pricing .pricing-btn {
  font-size: 1.6rem;
}

@media only screen and (max-width: 481px) {
  #pricing h1 {
    font-size: 1.9rem;
  }
  #pricing .pricing-text {
    font-size: 1.5rem;
  }
  #pricing .pricing-btn {
    font-size: 1.3rem;
  }
}

.btn.btn-pricing {
  background-color: #45D68B;
  box-shadow: rgba(69, 214, 139, 0.3) 0 3px 16px;
  font-weight: bold;
}

.btn.btn-pricing:hover,.btn.btn-pricing:focus {
  color: #fff;
  background-color: #3ae18b;
  box-shadow: rgba(58, 225, 139, 0.4) 0 3px 20px;
}

.btn.btn-pricing:active {
  background-color: #2cc676;
  box-shadow: none;
}

.btn{
  padding: 1.0em 2.0em;
}

.btn.btn-wide {
  padding-left: 4.8em;
  padding-right: 4.8em;
}


/*==========================
Footer
==========================*/

#footer {
  background-color: #26292e;
  box-shadow: inset #eee 0 1px 0;
  padding: 2.427rem 10% 1.618rem 5%;
  color: #fff;
}

#footer h2 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

#footer .footer-logo {
  margin: 0;
  padding: 0;
  font-size: 1.9em;
  color: #fff;
}

#footer .footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#footer .footer-bottom {
  margin-top: 3.236rem;
  text-align: left;
}



#footer .footer-bottom p,#footer .footer-bottom a {
  color: #fff;
}

#footer .footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 800px;
}

@media only screen and (min-width: 769px) {
  #footer .footer-nav {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
}

@media only screen and (min-width: 481px) {
  #footer .footer-nav .nav-group:not(:last-child) {
    margin-right: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

#footer .footer-nav ul {
  list-style: none;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

#footer a, #footer li {
  color: #535969;
}

#footer a:hover {
  opacity: .7;
  text-decoration: none;
}

@media only screen and (max-width: 1010px) {
  #footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #footer .footer-nav {
    margin-top: 1.618rem;
  }
}

@media only screen and (max-width: 481px) {

  #footer a {
    padding: .2em .4em;
    font-size: 1.2em;
    display: inline-block;
  }

  #footer h2 {
    font-size: 1.5em;
  }

  #footer .footer-logo {
    width: 10em;
    height: 2em;
    text-align: center;
    font-size: 2.5rem;
  }

  #footer .footer-inner {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  #footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
  }

  #footer .nav-group {
    margin-bottom: 1.618rem;
  }

  #footer .footer-bottom {
    text-align: center;
    margin-top: 1.618rem;
  }
}


.screen-bg {
  background-color: #edf6fe;
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-size: contain;
  width: 100%;
  font-family: 'montserratlight';
}

.full-page {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
}

.full-page a {
  color: #6abaff;
}

.full-page h1 {
  font-family: 'montserratultra_light';
  font-size: 32px;
  color: #3d3a3a;
}

.full-page h4 {
  font-family: 'montserrathairline';
  font-size: 18px;
  color: #3d3a3a;
}

.full-page .center-section .content .logo {
  font-family: 'montserrat';
  color: #6abaff;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 28px;
}

.full-page .center-section .content .logo:hover {
  opacity: .7;
}

.full-page .center-section .content .btn-success {
  background-color: #45D68B;
  box-shadow: rgba(69, 214, 139, 0.3) 0 3px 16px;
  font-weight: bold;
}

.full-page .center-section .content .btn-success:hover,.full-page .center-section .content .btn-success:focus {
  color: #fff;
  background-color: #3ae18b;
  box-shadow: rgba(58, 225, 139, 0.4) 0 3px 20px;
}

.form-group {
    margin-bottom: 0px;
    margin-top: 30px;
}

.full-page .center-section {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.full-page .center-section .content {
  width: 780px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width:767px) {
  .full-page .center-section .content {
    width: 500px;
  }
}

.full-page .center-section .content .page {
  position: relative;
  padding: 50px 50px 42px;
  background: #fff;
  overflow: auto;
  box-shadow: -10.034px 26.14px 62.04px 3.96px rgba(19, 65, 223, 0.21);
  margin-bottom: 40px;
}

.full-page .center-section .content .page label {
  font-family: muli-light,arial;
  font-size: 1.1em;
  font-weight: 100;
  float: left;
}

.full-page .center-section .content .btn-success {
  margin-top: 20px;
}

.full-page .center-section .content .terms {
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
}

@media (min-width:1280px) {
  .full-page .center-section .content .terms {
    margin-top: 30px;
  }
}

@media (max-width:480px) {
  .full-width {
    width: 100% !important;
  }
  .full-page .center-section .content .page {
    padding: 0px 15px 0px;
  }
}

.full-page .center-section .content .terms a {
  font-size: 10px;
  text-decoration: underline;
}

.form-control {
    border: 1px solid #d7e1ea;
    padding: 11px 24px;
    font-family: Muli-Light;
    font-size: 1em;
    letter-spacing: .2px;
    color: #3c4858;
    height: 50px;
    background: none;
}
.form-control, .form-control:focus {
    box-shadow: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.form-control:focus {
  background-color: #e9f0f6;
  border-color: #e9f0f6;
}


.form-group ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: -28px auto 0;
  padding: 0;
}


.form-group ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  height: 100px;
}

@media (max-width:480px) {
  .form-group ul {
    margin: 0 auto;
  }
  .form-group ul li {
    height: none !important;
    margin: 0 0 auto -20px;
  }
}

.form-group ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.form-group ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 30px 12px 40px 50px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.form-group ul li:hover label{
  color: #0DFF92;
}

.form-group ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.form-group ul li:hover .check {
  border: 5px solid #0DFF92;
}

.form-group ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.form-group input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

.form-group input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

.form-group input[type=radio]:checked ~ label{
  color: #0DFF92;
}